@media screen and (max-width:991px){
	.site-nav{height:5.625rem;margin-top: 5px;} 
	}
.site-nav ul.nav-off-canvas{margin:0;padding:0;display:block;background:#333;}
@media screen and (min-width:992px){.site-nav ul.nav-off-canvas{height:auto!important;}}
@media screen and (max-width:991px){.site-nav ul.nav-off-canvas{position:fixed;top:0;left:-1000px;bottom:auto;height:130%;width:100%;max-width:20rem;padding-top:1.25rem;padding-bottom:1.25rem;overflow:hidden;overflow-y:auto;box-shadow:0 0 2.6875rem rgba(2,3,3,.84);transition:.3s linear;transition-property:opacity,visibility;cursor:pointer}
.site-nav ul.nav-off-canvas>li:last-child{margin-bottom:100%}}
.site-nav ul.nav-off-canvas>li{margin:0;padding:0;float:left;display:table;position:relative}
@media screen and (max-width:991px){.site-nav ul.nav-off-canvas>li{width:100%;height:auto;display:block;clear:both}}
@media screen and (min-width:992px){.site-nav ul.nav-off-canvas>li:hover .site-sub-menu{opacity:1;visibility:visible}}
.site-nav ul.nav-off-canvas>li.active>a,.site-nav ul.nav-off-canvas>li:hover>a{color:#45d1ad;}
/*.site-nav ul.nav-off-canvas>li:last-child>a{padding-right:0}*/
.site-nav ul.nav-off-canvas>li>a{ font-family: 'Poppins', sans-serif; font-size: 18px; letter-spacing: 0px; font-weight: 500; text-decoration: none; color:#000;display:inline-block; vertical-align:middle;
padding:0px 12px 0px;position:relative;text-align: center;text-transform: capitalize;}
.site-nav ul.nav-off-canvas>li>a .fa { font-weight: 600; }
@media screen and (max-width:1199px){.site-nav ul.nav-off-canvas>li>a{padding-left:1.25rem;padding-right:1.25rem}}
@media screen and (max-width:991px){.site-nav ul.nav-off-canvas>li>a{display:inline-block;padding:10px; color: #fff;}}
.site-nav ul.nav-off-canvas>li>a:after{content: '';position: absolute;bottom: -6px;left: 15px;width: 25px;height: 3px;
-webkit-transform: scale3d(0, 1, 1);transform: scale3d(0, 1, 1);background: #45d1ad ;
-webkit-transform-origin: center left;-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); font-family: 'Poppins', sans-serif; font-weight: 500; }
.site-nav ul.nav-off-canvas > li > a:hover, .site-nav ul.nav-off-canvas > li > a:focus, .site-nav ul.nav-off-canvas > li > a.active {color: #45d1ad;}
.site-nav ul.nav-off-canvas>li>a:hover:after,  .site-nav ul.nav-off-canvas > li > a:focus::after,.site-nav ul.nav-off-canvas > li > a.active::after{-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);-webkit-transition-delay: 0s;transition-delay: 0s; transform: scale3d(1, 1, 1);}

.site-nav ul.nav-off-canvas .offCanvasClose{display:none}
@media screen and (max-width:991px){.site-nav ul.nav-off-canvas .offCanvasClose{display:none;position:fixed;bottom:0;left:auto;color:red;height:3.125rem;width:3.125rem;overflow:hidden;text-align:center;line-height:3.125rem;cursor:pointer;font-size:1.25rem;transition:.3s linear;transition-property:background,color}
.site-nav ul.nav-off-canvas .offCanvasClose:before{content:"";display:none;position:absolute;top:0;left:0;right:0;bottom:0;width:0;height:0;border-bottom:100px solid #0a2b4a;border-right:100px solid transparent;transition:.3s linear;transition-property:border-bottom-color}
.site-nav ul.nav-off-canvas .offCanvasClose:hover{color:#fff;background:none}
.site-nav ul.nav-off-canvas .offCanvasClose:hover:before{width: 130px;opacity: 1;}
.site-nav ul.nav-off-canvas .offCanvasClose i.fa{display:block;line-height:3.125rem;position:relative;top:.625rem;left:-.625rem}}

.site-nav .site-sub-menu{position:absolute;top:100%;left:0;right:auto;margin:0;padding:.625rem 1.875rem 1.25rem;background:#103558;min-width:200px;white-space:nowrap;opacity:0;visibility:hidden;transition:.3s linear;transition-property:opacity,visibility;transition-delay:.3s;box-shadow:0 10px .8125rem 0 rgba(2,3,3,.24);border-radius:0 0 .25rem .25rem}
@media screen and (min-width:992px){.site-nav .site-sub-menu{display:block!important}}
@media screen and (max-width:991px){.site-nav .site-sub-menu{white-space:normal;position:relative;opacity:1;visibility:visible;background:#0a2b4a;padding-top:1.25rem;padding-left:2.5rem;box-shadow:none;display:none}}
.site-nav .site-sub-menu li{width:100%;list-style:none;margin:0;padding:0}.site-nav .site-sub-menu li:hover>a{color:#45d1ad}
.site-nav .site-sub-menu li:hover>a:after{width:100%}.site-nav .site-sub-menu a{ letter-spacing: 4px; width:auto;color:#fff;font-size:.8125rem;font-weight:600;line-height:1.8125rem;text-transform:uppercase;position:relative;padding:.125rem 0}
.site-nav .site-sub-menu a:hover { text-decoration: none; }
.site-nav .site-sub-menu a:after{content:"";position:relative;display:block;top:-.3125rem;height:1px;width:0;margin:0 auto;background:#45d1ad;transition:.3s linear;transition-property:width}
.nav-mobile{color:#45d1ad;display:none}
.nav-mobile:hover{color:#45d1ad;}
@media screen and (max-width:991px){.nav-mobile{display:block;position:absolute;top:-12px;right:0;bottom:0;font-size:1.875rem;text-align:center;color:#45d1ad;background:transparent;height:3.125rem;width:3.4375rem;cursor:pointer;margin-top:auto;margin-bottom:auto;transition:.3s linear;transition-property:color}
.nav-mobile,.nav-mobile i.fa{line-height:3.125rem;}}